<form action="/submit" method="post">
    <label for="name">name:</label>
    <input type="text" id="name" name = "name">
    <br/>
    <label for="email">email:</label>
    <input type="email" id="email" email = "email">
    <br/>
    <button type="submit">제출</button>
    


</form>