* {
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.row {
    display: flex;
    align-items: center;
}

.col {
    width: 50%;
    padding: 20px;
}

.text-wrap {
    width: 100%;
}

.text-wrap h1 {
    font-size: 50px;
    font-weight: 600;
}

.text-wrap p {
    font-size: 18px;
}

.btn-Wrap {
    padding: 0;
}

.btn-Wrap li {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin: 10px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btn-Wrap li span{
    line-height: 24px;
}

@media screen and (max-width:768px){
    .col{
        width: 100%;
    }
    .row {
        flex-direction: column;
    }
}
@media screen and (max-width: 480px) {
    .text-wrap h1{
        font-size: 36px;
    }
}